<?php /* @var $block Magento\Framework\View\Element\Template\ */?>

<div id="weather">
    <div id="weather-data" data-bind="scope: 'weather'">
        <!-- ko template: getTemplate() --> <!-- /ko -->
    </div>
</div>


<script type="text/x-magento-init">
    {
        "#weather" : {
            "Magento_Ui/js/core/app" : <?= $block->getJsLayout() ?>
        }
    }
</script>
